.bg-alpha{
    background: rgba(0, 0, 0, 0.5);
}
html, body{
    height: 100%;
}

.carousel,
.carousel-inner,
.carousel-item,
.carousel-inner .active{
    height: 100%;
}

.carousel-img{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.carousel-caption{
    top: 42%;
}

.blackscreen{
    background: rgb(0 0 0 / 50%);
    height: 100%;
}